/node_modules
/dist
/.env
/.env.local
/.env.production
/.env.test
/.vscode
/npm-debug.log
/yarn-error.log
/.DS_Store
/.idea
/.turbo
/.next
/.vercel
/.vercelignore
/logs
*.log
/pids
*.pid

/coverage
/.nyc_output

node_modules/
jspm_packages/
/typings/
/.pnp
.pnp.js
/.pnp.cjs
/.pnp.loader.mjs
/.pnp.loader.cjs
/.pnp.loader.js
/.pnp.js.map
node_modules
env.local
.env
.env.*.local
.vscode